.dialog{
    /*display: none;*/
    /*display: block;*/
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
    opacity: 0.6;
    filter:Alpha(Opacity=50);
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width: 100%;
    z-index: 50;


}
.dialogTips{
    height: 40px;
    width: 180px;
    border-radius: 6px;
    background-color: #2B2B2B;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}