
.publishWrapper{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 4px;

}
.loginout{
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.dologinOut{
    background-color: red;
    width: 96%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
}
.photo{
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin: 10px ;
}
.upload{
    display: flex;
    flex-direction: row;
    height: 68px;
    width: 150px;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.button{
    /*display: flex;*/
    /*flex-direction:row;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*line-height: 38px;*/
    text-align: center;
    width: 60px;
    height: 38px;
    align-items: center
}
a{
    text-decoration: none;
}
