<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.geilove.dao.BoxMapper" >
  <resultMap id="BaseResultMap" type="org.geilove.pojo.Box" >
    <id column="boxID" property="boxid" jdbcType="BIGINT" />
    <result column="userIDBox" property="useridbox" jdbcType="BIGINT" />
    <result column="tweetIDBox" property="tweetidbox" jdbcType="BIGINT" />
    <result column="boxtime" property="boxtime" jdbcType="TIMESTAMP" />
    <result column="backupOne" property="backupone" jdbcType="VARCHAR" />
    <result column="backupTwo" property="backuptwo" jdbcType="VARCHAR" />
    <result column="backupThree" property="backupthree" jdbcType="VARCHAR" />
    <result column="backupFour" property="backupfour" jdbcType="VARCHAR" />
    <result column="backupFive" property="backupfive" jdbcType="INTEGER" />
    <result column="backupSix" property="backupsix" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    boxID, userIDBox, tweetIDBox, boxtime, backupOne, backupTwo, backupThree, backupFour, 
    backupFive, backupSix
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from box
    where boxID = #{boxid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from box
    where boxID = #{boxid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.geilove.pojo.Box" >
    insert into box (boxID, userIDBox, tweetIDBox, 
      boxtime, backupOne, backupTwo, 
      backupThree, backupFour, backupFive, 
      backupSix)
    values (#{boxid,jdbcType=BIGINT}, #{useridbox,jdbcType=BIGINT}, #{tweetidbox,jdbcType=BIGINT}, 
      #{boxtime,jdbcType=TIMESTAMP}, #{backupone,jdbcType=VARCHAR}, #{backuptwo,jdbcType=VARCHAR}, 
      #{backupthree,jdbcType=VARCHAR}, #{backupfour,jdbcType=VARCHAR}, #{backupfive,jdbcType=INTEGER}, 
      #{backupsix,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.geilove.pojo.Box" >
    insert into box
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="boxid != null" >
        boxID,
      </if>
      <if test="useridbox != null" >
        userIDBox,
      </if>
      <if test="tweetidbox != null" >
        tweetIDBox,
      </if>
      <if test="boxtime != null" >
        boxtime,
      </if>
      <if test="backupone != null" >
        backupOne,
      </if>
      <if test="backuptwo != null" >
        backupTwo,
      </if>
      <if test="backupthree != null" >
        backupThree,
      </if>
      <if test="backupfour != null" >
        backupFour,
      </if>
      <if test="backupfive != null" >
        backupFive,
      </if>
      <if test="backupsix != null" >
        backupSix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="boxid != null" >
        #{boxid,jdbcType=BIGINT},
      </if>
      <if test="useridbox != null" >
        #{useridbox,jdbcType=BIGINT},
      </if>
      <if test="tweetidbox != null" >
        #{tweetidbox,jdbcType=BIGINT},
      </if>
      <if test="boxtime != null" >
        #{boxtime,jdbcType=TIMESTAMP},
      </if>
      <if test="backupone != null" >
        #{backupone,jdbcType=VARCHAR},
      </if>
      <if test="backuptwo != null" >
        #{backuptwo,jdbcType=VARCHAR},
      </if>
      <if test="backupthree != null" >
        #{backupthree,jdbcType=VARCHAR},
      </if>
      <if test="backupfour != null" >
        #{backupfour,jdbcType=VARCHAR},
      </if>
      <if test="backupfive != null" >
        #{backupfive,jdbcType=INTEGER},
      </if>
      <if test="backupsix != null" >
        #{backupsix,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.geilove.pojo.Box" >
    update box
    <set >
      <if test="useridbox != null" >
        userIDBox = #{useridbox,jdbcType=BIGINT},
      </if>
      <if test="tweetidbox != null" >
        tweetIDBox = #{tweetidbox,jdbcType=BIGINT},
      </if>
      <if test="boxtime != null" >
        boxtime = #{boxtime,jdbcType=TIMESTAMP},
      </if>
      <if test="backupone != null" >
        backupOne = #{backupone,jdbcType=VARCHAR},
      </if>
      <if test="backuptwo != null" >
        backupTwo = #{backuptwo,jdbcType=VARCHAR},
      </if>
      <if test="backupthree != null" >
        backupThree = #{backupthree,jdbcType=VARCHAR},
      </if>
      <if test="backupfour != null" >
        backupFour = #{backupfour,jdbcType=VARCHAR},
      </if>
      <if test="backupfive != null" >
        backupFive = #{backupfive,jdbcType=INTEGER},
      </if>
      <if test="backupsix != null" >
        backupSix = #{backupsix,jdbcType=INTEGER},
      </if>
    </set>
    where boxID = #{boxid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.geilove.pojo.Box" >
    update box
    set userIDBox = #{useridbox,jdbcType=BIGINT},
      tweetIDBox = #{tweetidbox,jdbcType=BIGINT},
      boxtime = #{boxtime,jdbcType=TIMESTAMP},
      backupOne = #{backupone,jdbcType=VARCHAR},
      backupTwo = #{backuptwo,jdbcType=VARCHAR},
      backupThree = #{backupthree,jdbcType=VARCHAR},
      backupFour = #{backupfour,jdbcType=VARCHAR},
      backupFive = #{backupfive,jdbcType=INTEGER},
      backupSix = #{backupsix,jdbcType=INTEGER}
    where boxID = #{boxid,jdbcType=BIGINT}
  </update>
</mapper>